
@charset "utf-8";
/* EleAlınanTag:nth-last-child(){}  ==> ele alınan tag baz alınarak, üst taga göre kardeş tagına bakılmaksızın son çocuk (child) durumundaki elementden başlayarak sıra numaralarına göre stil tanımlar 
        sıralama türleri ;
                odd : tek sayılara göre sıralama
                even: çift sayılara göre sıralama*/

li:nth-last-child(2) {
  background-color: red;
}
li:nth-last-child(odd) {
  background-color: aqua;
}
