@charset "utf-8";
.box {
    width: 250px;
    height: 250px;
    position: relative;
    perspective: 500px;
}

.box .on {
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    background-color: gold;
    position: absolute;
    transition: all 2s;
}
.box .arka {
    width: inherit;
    height: inherit;
    background-color: red;
    position: absolute;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: all 2s;
}

.box:hover .on {
    transform: rotateY(180deg);
}
.box:hover .arka {
    transform: rotateY(0deg);
}
