@charset "utf-8";
/*order : ızgara düzeni içerisindeki element veya elementlerin, diğer elementlere göre sıralama özelliklerini belirler

    number
*/

    
@charset "utf-8";
.ana{
    display: grid;
    border: thin solid blue;
    padding: 20px;
    grid-gap: 2px;
  grid-template-columns: repeat(4, auto);

 width: 800px;


}
.ic{
    border: thin solid red;
    padding: 8px;  
   
}

.uc{
    order: 1;
}
.dort{
    order: 3;
}
.alti{
    order: 2;
}