@charset "utf-8";
div>p{
    border-style: solid;
    border-radius: 5.3px;
    padding: 5px;
    
}
div>#p1{
    color: red;
}
div>.p2{
    color: yellow;
}
.div53 >.p3{
    color: aqua;
}
#div53ID>#p4{
    color: azure;
}
.div53 >#p5{
    color:brown;
}
#div53ID>.p6{
    color: rgb(217, 21, 235);
}
div>.ol53>#li53{
    color: yellow;
    border-style: solid;
    border-radius: 5.3px;
    padding: 5px;
}

.oky60174>#huysuz{
    color: yellow;
    border-style: solid;
    border-radius: 5.3px;
    padding: 5px;
}