@charset "utf-8";
/*content : before veya after sahte elementi ile birlikte üretilecek olan içeriği metne eklemek için kullanılır.
    normal
    none
    string      : içeriğe yeni bir dize ekler.
    open-quote : içeriğe açılış tırnak işareti ekler
    close-quote : içeriğe kapanış tırnak işareti ekler
    no-open-quote : içeriğin açılış tırnak işaretini kaldırır.
    no-close-quote : içeriğin kapanış tırnak işaretini kaldırır.
    url : içeriğe medya dosyası ekler
    attr : içeriğin bulunduğu elementin belirtilecek olan herhangi bir özellik bilgisine erişerek değerini ekler.
    counter : belirtilecek olan herhangi bir elementin sayaç bilgisine erişerek değerini ekler.

    */

.string::before {
  content: "5353";
}
.open-quote::before {
  content: open-quote;
}
.close-quote::after {
  content: close-quote;
}
.no-open-quote::before {
  content: no-open-quote;
}
.no-close-quote::after {
  content: no-close-quote;
}
.url::after{
    content: url(logo.png);
}
.attr::after{
    content:attr(href)
}
div{
    counter-increment:DenemeSayac;
}
div::after{
    content: counter(DenemeSayac);
}