@charset "utf-8";
*{
    font-size: 3ex;
}
.baslik{
    color: rgb(252, 22, 22);
}
.sari{
    color: yellow;
	border-style: double;
}
.divC{
    color: white;
}
.kirmizi{
    color: red;
}
/*1.*/
.italicYazi{
    font-style: italic;
}

/*sadece classı kirmizi olan p yi seçtik*/
p.kirmizi{
    color: rgba(255, 0, 0, 0.712);
}
/*1. Bazı elementlerin 2 classı olabilir. 
bu örnekde html ve c# yazılı li elementimizin 2 classı vardır.
bir clasında rengini,diğer classında yazı tipini ayarladık.*/