@charset "utf-8";
/* EleAlınanTag:lang(){}  ==> ele alınan tagın lang(dil) özelliğine göre stil tanımlar */

div:lang(tr){
    color: red;
    font-size: 25px;
}div:lang(en){
    color: blue;
    font-size: 20px;
}