@charset "utf-8";
#div1ID {  font-size: 1cm;
  text-align: center;
  color: blue;
  border-style: dotted;
}
#div2ID {  font-size: 1cm;
  text-align: right;
  color: red;
  border-style: double;
}
#div3ID {  font-size: 1cm;
  text-align: left;
  color: yellowgreen;
  border-style: solid;
}
