@charset "utf-8";
/*user-select : metnin kullanıcı tarafından seçilebilme durumunu belirler:
    auto
    none : değer yok metin seçilemez
    text : metin (metin seçilebilir.)
    all : tümü ( tüm metin tek seferde seçilebilir)*/

    body{
        user-select: all;
    }