@charset "utf-8";
/* font-style : metnin yazı tipi stilini belirler.
        normal
        italic
        oblique : eğik. italic desteği olmayan fontlar için yazıyı eğer.*/

        p{
            font-style: oblique;
        }

        div{
            font-style: italic;
        }