@charset "utf-8";

div{
    font-size: large;
    background-color: green;
    border-style: groove;

}

p{
    border-style: double;
    border-color: red;
    color: white;
    background-color: blue;
    
}