@charset "utf-8";
/*prefixi vardır*/

/*text-decoration-line : metne eklenecek olan dekorasyon / süsleme özelliklerini belirler
 
    none
    underline : altı çizili metin
    overline : üst tarafı çizili metin
    line-through : ortası çizili metin 
    
    */

    body{
        text-decoration-line: line-through ;
    }
