@charset "utf-8";
/*  BELİRLİ ÖZELLİĞİ İÇEREN TÜM taglara etki eder
 */
 *[onclick]{
   color: yellow;
   background-color: red;
 }
 div[title]{
  background-color: yellow;
  font-size: 5ex;
}
 /*-----------------------------------------------------------*/



 /*  özelliklerinin isimleri YALNIZCA ELE ALINAN İFADE olan taglara etki eder
 (ELE ALINAN İFADE "Rize" )
 */
li[name="Rize"] {
  color: blue;
}
li[id="flutter" i/* i  veya I= küçük büyük harfe bakmamayı sağlayan işaret*/]{
  font-size: 25px;
}
/*Aynı kullanışı çoklu olarak da bu şekilde yapıyoruz*/
li[name="Rize53"],h2[class="53"] {
  color: red;
  border-style: dotted;
  background-color: black;
}

/*Burda da aynı şekilde çoklu, farklılık olarak ul tagının altında bulunan tüm divlerde ele alınan ifadeye sahip class isimlerine etki ettik*/
li[name="Rize"], ul div[class="53"]{
    background-color: red;
   
    font-size: 25px;
    border-style: dotted;
}
/*-----------------------------------------------------------*/


/* özellik ismi ELE ALINAN İFADEYİ KELİME OLARAK İÇEREN taglara etki eder*/
div[id~="tru" i]{
  border-style: dotted;
  color : yellow;
  background-color: black;
}
/*-----------------------------------------------------------*/


/* özellik isminde ELE ALINAN İFADE GEÇEN taglara etki eder*/

li[id*="flu" I]{
  font-size: 20px;
  background-color: yellow;
  border-style: ridge;

}
/*-----------------------------------------------------------*/




/*  özellik isimleri 
YALNIZCA BELİRLİ SÖZ DİZİMİ İLE BAŞLAYAN 
taglara etki eder */
div[class^="m"]{
  border-style: double;
}
/*-----------------------------------------------------------*/




/* taglarda özellik isimlerinde TİRE (-) İLE AYRILMIŞ BİR İFADE KULLANILDIĞINDA SÖZ DİZİMİNİN İLK KELİMESİ YAZILIR*/
div[lang|="en"]{
  background-color: yellow;
  border-style: groove;
}
/*-----------------------------------------------------------*/



/*  özellik isimleri 
YALNIZCA BELİRLİ SÖZ DİZİMİ İLE BİTEN 
taglara etki eder */
div[name$="secenek"]{

font-weight: bold;
font-size: 25px;

}
/*-----------------------------------------------------------*/



a[href*="galata"][class="aslan"]{
  
  color: red;
  background-color: yellow;
}