@charset "utf-8";
/* animation-delay : ele alınan taga atanmış olan animasyon döngüsün, kaç saniye veya mili saniye sonunda başlayacağını belirler.

    time : s , ms

*/

    div{
        position: relative;
        width: 200px;
        height: 200px;
        background-color: red;
        /* prefixli */
        animation:linear infinite alternate none running;
        line-height: 200px;
        text-align: center;
        /* prefixli */
        animation-name: Bsy;
        animation-duration: 1.5s;
        animation-delay: 0.1s;
    }
    @keyframes Bsy{
        from{
           
            font-size: 0px;
           border-radius: 0%;
                left: 0px;
                top: 0px;
                background-color: red;
        }
        to{
            font-size: 50px;
            border-radius: 50%;
            transform: rotate(150deg);
            left: 1000px;
            top : 80px;
            background-color: yellow;
        }
    }