@charset "utf-8";
/*border-spacing : html'nin table elementinde bulunan bitişik hücrelerin arasındaki mesafeyi belirler.
    değerler    
        length
        initail
        inherit

*/
table {
  border: 2px solid red;
  border-spacing: 10px 50px ;
}
th,
td {
  border: red solid;
}
