@charset "utf-8";
/* EleAlınanTag::before{} ==> ele alınan tagın öncesine içerik atayarak stil tanımlar.*/


div::before{
    content: "\2665 ";
    text-shadow: 2px 2px 5px gray ;
    color: red;
    font-size: 40px;}
