@charset "utf-8";
/*position : ele alınan tagın konumlandırma özelliklerini belirler.
    static : durağan (default)
    relative : göreceli
    absolute : mutlak / kesin
    fixed : sabit
    sticky : yapışkan


    top : konumlandırıl bir tagın üstten hizalama konumunu belirler.
    right : konumlandırıl bir tagın sağdan hizalama konumunu belirler.
    bottom : konumlandırıl bir tagın alttan hizalama konumunu belirler.
    left : konumlandırıl bir tagın soldan hizalama konumunu belirler.

        auto 
        length



*/

div{
    width: 250px;
    padding: 20px;
    border: 2px solid;
    text-align: center;
    position: sticky;
    top: 10px;
    left: 250px;
}