@charset "utf-8";
/*text-stroke : metne eklenecek olan dış çizgisi özelliklerini belirler.
    parametreler : 
        length , color
    değerler :
        length, color*/

div{
    font-size: 50px;
    -webkit-text-stroke: 3px red;
    /* -webkit-text-stroke-color: yellow;
    -webkit-text-stroke-width: 1px; */
}