@charset "utf-8";

/*grid-auto-columns : ızgara düzeni içersindeki element veya elementler için , oluşturulması gereken sütunların varsayılan genişliğini belirler
    
    auto
    max-content
    min-content
    lenght
    */

.ana{
    display: grid;

    
    grid-auto-columns: min-content ;
    border: 1px solid red;
    padding: 20px;
    width: 500px;

 
}
.ic{
    border: 2px solid blue;
    padding: 12px;
   
}