@charset "utf-8";
/*margin :  ele alınan tagın kenar boşluğu / dış boşluk özelliklerini belirler.
    Değerler:
    length: uzunluk değeri.
    % : yüzde değeri
    auto : otomatik değer
    initial,inherit.

*/
.class{
    height: 40px;
    width: 200px;
    border: 5px solid red;
    margin: 25px 50px 40px 35px;


}
#id{  width: 200px;
    height: 20px;
    border: 5px solid red;
    margin-top:10px;
 margin-bottom: 20px;
}
.span{
    margin-right: 20px;
    border: 5px solid red;
}
.spanIki{
    margin-left: 20px;
    border: 5px solid red;
    
}