@charset "utf-8";
/*word-wrap : ele alınan tagın boyutlandırılmış alanına sığmayacak
 kadar büyük kelimenin satır kırılma özelliklerini belirler.
    normal
    break-word*/

div {
  width: 200px;
  border: 2px solid red;
    word-wrap: break-word;
 
}
