@charset "utf-8";
/*line-height : metin bloğunda bulunan satıralrın yüksekliğini belirler.
        değerler: 
            normal
            number : rakam değeri
            length : uzunluk değeri
            %      : yüzde değeri*/

div{
    line-height: 2;
}
     