table{
    border: 2px solid #d3d3d3;
    border-radius: 50px;
    width: 70%;
    margin: auto;
    border-collapse: collapse;

}

#baslikSatiri{
    background-color: #cccccc;
}

th,td{
    padding: 5px 20px;
    text-align: left;
    border: 2px solid #d3d3d3;
}

tr:nth-child(odd){
    background-color: #f1f1f1;
}

div{
    width: 100%;
    overflow-x: auto;
}