@charset "utf-8";
/*prefixi vardır*/
/*text-decoration-style : metne eklenecek olan dekorasyon / süslemenin stilini belirler.

   
    solid
    dashed
    dotted
    double
    wavy : dalgalı çizgi
   
    */

    body{
        text-decoration-line:underline ;
        text-decoration-style:wavy ;
    }
