@charset "utf-8";
/* EleAlınanTag:nth-of-type(){}  ==> ele alınan tag baz alınarak, üst taga göre kardeş tag  türleride eşleşen ilk çocuk (child) durumundaki elementden başlayarak sıra numaralarına göre stil tanımlar .
(yani div seçtiysek sıralama işlemine divden başlar,div 3.satırdaysa bile divi 1.sayar.)

        sıralama türleri ;
                odd : tek sayılara göre sıralama
                even: çift sayılara göre sıralama
                (xn+1) dersek  :her x satırda 1 stil tanımla 
                (n+5) dersek : 5.satırdan başla ve aşağı doğru stil tanımla 
                (n) dersek : tüm satırlara stil tanımla
                */

                div:nth-of-type(odd){
                    background-color: red;
                }