@charset "utf-8";
/* transform : ele alınan tagın 2D veya 3D dönüştürme özelliklerini belirler.

    none
    translate(): tagın x ve y ekseni doğrultusunda konumunu değiştirir.
    translate3d(): tagın x ,y ve z ekseni doğrultusunda konumunu değiştirir.
    translateX(): tagın x ekseni doğrultusunda  konumunu değiştirir.
    translateY(): tagın y ekseni doğrultusunda konumunudeğiştirir.
    translateZ(): tagın z ekseni doğrultusunda konumunu değiştirir.
    skew(): tagı x ve y ekseni doğrultusunda eğer.
    skewX(): tagı x ekseni doğrultusunda eğer.
    skewY(): tagı y ekseni doğrultusunda eğer.
    scale(): tagın x ve y ekseni doğrultusunda boyutunu değiştirir.
    scale3d(): tagın x, y ve z ekseni doğrultusunda boyutunu değiştirir.
    scaleX(): tagın x ekseni doğrultusunda boyutunu değiştirir.
    scaleY(): tagın y ekseni doğrultusunda boyutunu değiştirir.
    scaleZ(): tagın z ekseni doğrultusunda boyutunu değiştirir.
    rotate() : tagı saat yönü doğrultusunda döndürür.
    rotate3d() : tagı x, y ve z ekseni doğrultusunda döndürür.
    rotateX() : tagı x ekseni doğrultusunda döndürür.
    rotateY() : tagı y ekseni doğrultusunda döndürür.
    rotateZ() : tagı z ekseni doğrultusunda döndürür.
    perspective() : tagın perspektif görünüşünü belirler.
    matrix()    : taga 6 farklı dönünüşüö özelliği belirler. (scaleX(), skewY(), scaleY(), translateX(),translateY())
    matrix3d : taga 4x4 dönüşüm özelliği belirler. (https://codepen.io/fta/pen/ifnqH)

*/

.translate {
  width: 500px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: translate(100px, 20px);
}
.translate3d {
  width: 500px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: perspective(500px) translate3d(100px, 20px, -100px);
}
.translateX {
  width: 500px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: translateX(100px);
}
.translateY {
  width: 500px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: translateY(50px);
}
.translateZ {
  width: 500px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: perspective(100px) translateZ(-50px);
}
.skew {
  width: 500px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: skew(-5deg);
}
.skewX {
  width: 500px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: skewX(5deg);
}
.skewY {
  width: 500px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: skewY(5deg);
}
.scale {
  width: 500px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: scale(0.8, 0.3);
}
.scale3d {
  width: 500px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: perspective(1000px) scale3d(0.2, 0.5, 5) translateZ(100px);
}
.rotate {
  width: 200px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: rotate(20deg);
}
.rotate3d {
  width: 200px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: rotate3d(5, 1, 1, -40deg);
}
.rotateY {
  width: 200px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: rotateY(50deg);
}
.rotateZ {
  width: 200px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: rotateZ(50deg);
}
.perspective {
  width: 200px;
  border: 2px solid blue;
  height: 200px;
  padding: 10px;
  background-color: red;
  transform: perspective(1000px) rotateY(50deg);
}
.p2 {
  position: relative;
  border: 2px solid red;
  width: 300px;
  height: 300px;
  perspective: 500px;
}

.perspective2 {
  width: 200px;
  border: 2px solid blue;
  height: 20px;
  padding: 10px;
  background-color: red;
  transform: rotateY(70deg);
}
.matrix {
  width: 200px;
  border: 2px solid blue;
  height: 20px;
  padding: 10px;
  background-color: red;
  transform: matrix(1.5, 0.5, 0.5, 0.8, 100, 100);

  /*
     transform:scaleX(1.5);
    transform: skewY(0.5deg);
     transform:skewX(0.5deg);
    transform: scaleY(0.8);
     transform:translateX(100px);
     transform:translateY(100px);
    
    */
}
.matrix3d {
  width: 200px;
  border: 2px solid blue;
  height: 20px;
  padding: 10px;
  background-color: red;
  transform: matrix3d(
    0.9773032909593768,
    -0.003780670371216158,
    0,
    -0.000025373626652457436,
    1.5460572611655579,
    1.8138782040446308,
    0,
    0.006359725733403953,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    1
  );
}
