@charset "utf-8";
/*text-align-last : metnin son satırının yatay hizalama özelliklerini belirler.
    auto
    left
    right
    center
    justify
    start
    end*/
 div{
     direction: rtl;
     text-align: left;
     text-align-last: center;
     /*prefixi vardır*/
 }