@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #1e1e1e;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #fff;
    height: 80px;
}

.sinirlama {
    height: 100%;
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: auto;
    font-size: 50px;
}
.menu{
    width: 50%;
    text-align: right;
}

.menu li {
    margin: 0 10px;
    display: inline-flex;
}
.menu a {
    color: cornflowerblue;
    text-decoration: none;
}

.menu a:link,
.menu a:visited,
.menu a:active {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: darkblue;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.menu a:hover {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

#post {
    display: inline-block;
    margin: 30px 0px 30px 200px;
    width: 60%;
    height: auto;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.postImg {
    width: 100%;
}

.post-title {
    border-bottom: 2px solid;
    margin: 0 10px;
    padding: 10px;
    font-size: 30px;
}
.post-title::before {
    content: "\f121";
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
}
.post-content {
    text-align: justify;
    font-size: 17px;
    margin: 10px;
    padding: 10px;
    text-indent: 3%;
    color: gray;
}
#post-subtitle {
    margin: 10px 10px;
    padding: 10px;
}
.Langs {
    font-size: 17px;
    font-weight: 600;
    color: white;
    margin: 10px;
    padding: 7px 20px;
    background-color: black;
}
#fixed-popular {
    background-color: #fff;
    display: block;
    position: fixed;
    width: 15%;
    height: auto;
    margin: 30px 0;
    top: 80px;
    right: 250px;
    padding: 20px;
    border-radius: 10px;
}

.popular-title {
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.popular-list li {
    margin-bottom: 10px;
}

.popular-list li::before {
    content: "\f179";
    font-family: "Font Awesome 5 Brands";
    margin-right: 10px;
}

main {
    width: 100%;
}
.container {
    width: 80%;
    margin: 0 auto;
}

#fixed-share {
    background-color: #fff;
    display: block;
    position: fixed;
    width: 15%;
    height: auto;
    margin: 30px 0;
    top: 350px;
    right: 250px;
    padding: 20px;
    border-radius: 10px;
}

.share-container {
    display: flex;
    justify-content: space-around;
}

.share-container a {
    font-size: 40px;
    color: gray;
    transition: 0.2s;
}

.share-container a i {
    font-size: 40px;
}

.fa-facebook-square:hover {
    color: #0a80ed;
}

.fa-twitter-square:hover {
    color: #1a8cd8;
}

.fa-instagram-square:hover {
    color: #db2e7d;
}

.fa-youtube-square:hover {
    color: #ff0000;
}

/* RESPONSIVE TASARIM */

@media only screen and (min-width: 1200px) /*XL Ekran Boyutu*/ {
    #fixed-popular {
        background-color: #fff;
        display: block;

        width: 20%;
        height: auto;
        margin: 30px 0;
        top: 80px;
        right: 80px;
        padding: 20px;
        border-radius: 10px;
        font-size: 14px;
    }

    #fixed-share {
        background-color: #fff;
        display: block;
        position: fixed;
        width: 20%;
        height: auto;
        margin: 30px 0;
        top: 340px;
        right: 80px;
        padding: 20px;
        border-radius: 10px;
        font-size: 14px;
    }

    #fixed-share a,
    #fixed-share a i {
        font-size: 40px;
    }

    #post {
        display: inline-block;
        margin: 30px 0px 30px 150px;
        width: 60%;
        height: auto;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #post-subtitle {
        margin: 10px 10px;
        padding: 10px;
    }
    .Langs {
        font-size: 17px;
        font-weight: 600;
        color: white;
        margin: 10px;
        padding: 7px 20px;
        background-color: black;
    }
    #fixeds2 {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) /*L Ekran Boyutu*/ {
    #fixed-popular {
        background-color: #fff;
        display: block;
        position: fixed;
        width: 25%;
        height: auto;
        margin: 30px 0;
        top: 80px;
        right: 50px;
        padding: 20px;
        border-radius: 10px;
        font-size: 13px;
    }

    #fixed-share {
        background-color: #fff;
        display: block;
        position: fixed;
        width: 25%;
        height: auto;
        margin: 30px 0;
        top: 340px;
        right: 50px;
        padding: 20px;
        border-radius: 10px;
        font-size: 13px;
    }

    #fixed-share a,
    #fixed-share i {
        font-size: 35px;
    }

    #post {
        display: inline-block;
        margin: 30px 0px 30px 90px;
        width: 60%;
        height: auto;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 13px;
    }
    .post-title {
        font-size: 20px;
    }

    .post-title::before {
        font-size: 20px;
    }

    .post-content {
        font-size: 15px;
    }

    .Langs {
        font-size: 14px;

        margin: 8px;
        padding: 7px 20px;
    }
    #fixeds2 {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) /*M Ekran Boyutu*/ {
    #fixed-popular {
        background-color: #fff;
        display: block;
        position: fixed;
        width: 30%;
        height: auto;
        margin: 30px 0;
        top: 80px;
        right: 35px;
        padding: 20px;
        border-radius: 10px;
        font-size: 12px;
    }

    #fixed-share {
        background-color: #fff;
        display: block;
        position: fixed;
        width: 30%;
        height: auto;
        margin: 30px 0;
        top: 340px;
        right: 35px;
        padding: 20px;
        border-radius: 10px;
        font-size: 14px;
    }

    #fixed-share a,
    #fixed-share i {
        font-size: 30px;
    }

    #post {
        display: inline-block;
        margin: 30px 0px 30px 35px;
        width: 60%;
        height: auto;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .post-title {
        font-size: 20px;
    }

    .post-title::before {
        font-size: 20px;
    }

    .post-content {
        font-size: 15px;
    }

    .Langs {
        font-size: 14px;

        margin: 8px;
        padding: 7px 20px;
    }
    #fixeds2 {
        display: none;
    }
    .menu{
        width: auto;
        text-align: left;
    }
    
}
@media only screen and (min-width: 576px) and (max-width: 767px) /*S Ekran Boyutu*/ {
    .menu{
        width: auto;
        text-align: left;
    }
    
    footer{
        position: sticky;
        display: flex;
   
 margin: 0 auto;
 padding: 0;
 bottom: 0px;
 left: 10px;

 justify-content: space-evenly;
        
    }
    #fixeds2 {
        position: sticky;
        display: flex;
        background-color: white;
     width: 100%;
 justify-content: space-evenly;
     
      
  
    }
    #fixed-popular2 {

        font-size: 10px;
    }

    #fixed-share2 {
    
        
        display: block;
        padding: 10px;
        width: 20%;

      
        font-size: 10px;
    }

    #fixed-share2 a,
    #fixed-share2 i {
        font-size: 20px;
    }
    #fixeds {
        display: none;
    }
    #post {
        display: block;
        width: 100%;
        margin: 10px 100px;
        background-color: #fff;
        position: relative;
        left: -100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .post-title {
        margin: 0 5px;

        font-size: 20px;
    }

    .post-title::before {
        margin: 0 5px;

        font-size: 20px;
    }

    .post-content {
        margin: 0 auto;
        text-indent: 25px;
        font-size: 13px;
    }
    #post-subtitle {
        display: flex;
        justify-content: space-around;
    }
    .Langs {
        text-align: center;
        font-size: 12px;
        margin: 0px;
        padding: 5px 20px;
    }
}
@media only screen and (min-width: 367px) and (max-width: 575px) /*XS Ekran Boyutu*/ {
    footer{
        position: sticky;
        display: flex;
   
 margin: 0 auto;
 padding: 0;
 bottom: 0px;
 left: 10px;

 justify-content: space-evenly;
        
    }
    #fixeds2 {

        position: sticky;
        display: flex;
        background-color: white;
     width: 100%;
 justify-content: space-evenly;
     
      
  
    }
    #fixed-popular2 {
        padding-top: 5px;
        font-size: 10px;
    }

    #fixed-share2 {
    
        padding-top: 5px;
        
        display: grid;
        padding: 10px;
       column-count: 2;

      
        font-size: 10px;
    }

    #fixed-share2 a,
    #fixed-share2 i {
        font-size: 20px;
    }
    #fixeds {
        display: none;
    }
    #post {
        display: block;
        width: 100%;
        margin: 10px 100px;
        background-color: #fff;
        position: relative;
        left: -100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .post-title {
        margin: 0 5px;

        font-size: 20px;
    }

    .post-title::before {
        margin: 0 5px;

        font-size: 20px;
    }

    .post-content {
        margin: 0 auto;
        text-indent: 25px;
        font-size: 13px;
    }
    #post-subtitle {
        width: auto;
        display: flex;
        justify-content: space-around;
    }
    .Langs {
        text-align: center;
        font-size: 10px;
        margin: 0px;
        padding: 5px 12px;
    }
    
    .logo {
        height: auto;
        font-size: 40px;
      width: 50%;
    }
    .menu{
        width: 50%;
        text-align: left;
    }
    .menu li {
        font-size: 13px;
        margin: 0 0 0 15px;
        text-align: left;

     

    }
    .menu a {
        color: cornflowerblue;
        text-decoration: none;
    }
    
    .menu a:link,
    .menu a:visited,
    .menu a:active {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: darkblue;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-decoration: none;
    }
    
    .menu a:hover {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: black;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-decoration: none;
    }

    .share-container2 a {
        font-size: 40px;
        color: gray;
        transition: 0.2s;
    }
    
    .share-container2 a i {
        font-size: 40px;
    }
    
    .fa-facebook-square:hover {
        color: #0a80ed;
    }
    
    .fa-twitter-square:hover {
        color: #1a8cd8;
    }
    
    .fa-instagram-square:hover {
        color: #db2e7d;
    }
    
    .fa-youtube-square:hover {
        color: #ff0000;
    }
}

@media only screen and (min-width: 339px) and (max-width: 366px) /*XSS Ekran Boyutu*/ {
    footer{
        position: sticky;
        display: flex;
   
 margin: 0 auto;
 padding: 0;
 bottom: 0px;
 left: 10px;

 justify-content: space-evenly;
        
    }
    #fixeds2 {

        position: sticky;
        display: flex;
        background-color: white;
     width: 100%;
 justify-content: space-evenly;
     
      
  
    }
    #fixed-popular2 {
        padding-top: 5px;
        font-size: 10px;
    }

    #fixed-share2 {
    
        padding-top: 5px;
        
        display: grid;
        padding: 10px;
       column-count: 2;

      
        font-size: 10px;
    }

    #fixed-share2 a,
    #fixed-share2 i {
        font-size: 20px;
    }
    #fixeds {
        display: none;
    }
    #post {
        display: block;
        width: 100%;
        margin: 10px 100px;
        background-color: #fff;
        position: relative;
        left: -100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .post-title {
        margin: 0 5px;

        font-size: 20px;
    }

    .post-title::before {
        margin: 0 5px;

        font-size: 20px;
    }

    .post-content {
        margin: 0 auto;
        text-indent: 25px;
        font-size: 13px;
    }
    #post-subtitle {
        width: auto;
        display: flex;
        justify-content: space-around;
    }
    .Langs {
        text-align: center;
        font-size: 10px;
        margin: 0px;
        padding: 5px 12px;
    }
    
    .logo {
        height: auto;
        font-size: 40px;
      width: 50%;
    }
    .menu{
        width: 60%;
        text-align: left;
    }
    .menu li {
        font-size: 13px;
        margin: 0 0 0 15px;
        text-align: left;

     

    }
    .menu a {
        color: cornflowerblue;
        text-decoration: none;
    }
    
    .menu a:link,
    .menu a:visited,
    .menu a:active {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: darkblue;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-decoration: none;
    }
    
    .menu a:hover {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: black;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-decoration: none;
    }

    .share-container2 a {
        font-size: 40px;
        color: gray;
        transition: 0.2s;
    }
    
    .share-container2 a i {
        font-size: 40px;
    }
    
    .fa-facebook-square:hover {
        color: #0a80ed;
    }
    
    .fa-twitter-square:hover {
        color: #1a8cd8;
    }
    
    .fa-instagram-square:hover {
        color: #db2e7d;
    }
    
    .fa-youtube-square:hover {
        color: #ff0000;
    }
}


@media only screen AND (max-width: 338px) /*XSSS Ekran Boyutu*/ {
    footer{
        position: sticky;
        display: flex;
   
 margin: 0 auto;
 padding: 0;
 bottom: 0px;
 left: 10px;

 justify-content: space-evenly;
        
    }
    #fixeds2 {

        position: sticky;
        display: flex;
        background-color: white;
     width: 100%;
 justify-content: space-evenly;
     
      
  
    }
    #fixed-popular2 {
        padding-top: 5px;
        font-size: 10px;
    }

    #fixed-share2 {
    
        padding-top: 5px;
        
        display: grid;
        padding: 10px;
       column-count: 2;

      
        font-size: 10px;
    }

    #fixed-share2 a,
    #fixed-share2 i {
        font-size: 20px;
    }
    #fixeds {
        display: none;
    }
    #post {
        display: block;
        width: 100%;
        margin: 10px 100px;
        background-color: #fff;
        position: relative;
        left: -100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .post-title {
        margin: 0 5px;

        font-size: 20px;
    }

    .post-title::before {
        margin: 0 5px;

        font-size: 20px;
    }

    .post-content {
        margin: 0 auto;
        text-indent: 25px;
        font-size: 13px;
    }
    #post-subtitle {
        width: auto;
        display: flex;
        justify-content: space-around;
    }
    .Langs {
        text-align: center;
        font-size: 10px;
        margin: 0px;
        padding: 5px 12px;
    }
    
    .logo {
        height: auto;
        font-size: 40px;
      width: 50%;
    }
    .menu{
        width: 70%;
        text-align: left;
    }
    .menu li {
        font-size: 13px;
        margin: 0 0 0 15px;
        text-align: left;

     

    }
    .menu a {
        color: cornflowerblue;
        text-decoration: none;
    }
    
    .menu a:link,
    .menu a:visited,
    .menu a:active {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: darkblue;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-decoration: none;
    }
    
    .menu a:hover {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: black;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-decoration: none;
    }

    .share-container2 a {
        font-size: 40px;
        color: gray;
        transition: 0.2s;
    }
    
    .share-container2 a i {
        font-size: 40px;
    }
    
    .fa-facebook-square:hover {
        color: #0a80ed;
    }
    
    .fa-twitter-square:hover {
        color: #1a8cd8;
    }
    
    .fa-instagram-square:hover {
        color: #db2e7d;
    }
    
    .fa-youtube-square:hover {
        color: #ff0000;
    }
}

