@charset "utf-8";
/*tab-size: ele alınan tagın içerisinde bulunan metnin içeriğinin sekme karakterinin genişliğini belirler.
    number : rakam (x karakter.)
    length  :  uzunluk değeri*/
.dnm {
  -webkit-tab-size: 10;
  -moz-tab-size: 10;
  -ms-tab-size: 10;
  -o-tab-size: 10;
  tab-size: 10;
}
