@charset "utf-8";
/* EleAlınanTag:nth-child(){}  ==> ele alınan tag baz alınarak, üst taga göre kardeş tagına bakılmaksızın ilk çocuk (child) durumundaki elementden başlayarak sıra numaralarına göre stil tanımlar 

        sıralama türleri ;
                odd : tek sayılara göre sıralama
                even: çift sayılara göre sıralama*/

                div:nth-child(odd){
                  background-color: red;
                }