@charset "utf-8";

/*grid-template-rows : ızgara düzeni içerisindeki element veya elementlerin, oluşturulması gereken satır boyutu yüksekliğin belirler.
    none
    auto
    max-content
    min-content
    lenght*/

    .ana{
        display: grid;
        border: 1px solid red;
        padding: 20px;
        width: 500px;
        grid-template-rows: min-content min-content min-content min-content min-content min-content;
    }
    .ic{
        border: 2px solid blue;
        padding: 12px;
        writing-mode: vertical-lr;
    }