@charset "utf-8";
/*column-span : ele alınan tagın çok sütunlu düzeni için bölünen sütunların içerisindeki bir elementin sütun veya sütunlara yayılması durumunu belirler.

    all
    none
    */

div {
  border: 2px solid red;
  
  column-count:10;
}
h1{
    text-align: center;
    column-span: all;
}
