@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/* HEADER */
#header {
    background-color: #e0f1fa;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 10px #ddd;
    overflow-x: hidden;
}

#header .header-menu-container ul {
    display: flex;
    justify-content: space-between;
    min-width: 800px;
    max-width: 800px;
    width: 800px;
    font-weight: 600;
    font-size: 20px;
}

#header .header-menu-container ul li a {
    display: inline-block;
    color: #333;
    border-bottom: 3px solid transparent;
}
#header .header-menu-container ul li a:hover {
    border-bottom: 3px solid green;
}
#header .header-menu-container {
    display: flex;
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
}

#header .header-menu-container .login {
    background-color: green;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}
#check {
    display: none;
}
#header .left-side-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #333;
    padding: 30px;
    transform: translateX(-200px);
    width: 200px;
    transition: all 0.2s;
}
#header .left-side-menu ul li {
    margin-bottom: 20px;
}
#header .left-side-menu ul li a {
    color: #fff;
}
#header .left-side-menu ul li a:hover {
    color: #3bbe71;
}
#check:checked + .left-side-menu {
    transform: translate(0);
}
#header .side-menu {
    padding: 10px;
    margin-right: 10px;
    font-weight: 600;
    border: 2px solid transparent;
    background-color: #3bbe71;
    color: white;
    border-radius: 10px;
}
/* RESPONSIVE */

@media only screen and (min-width: 1200px) /*XL Ekran Boyutu*/ {
    .side-menu {
        display: none;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) /*L Ekran Boyutu*/ {
    .side-menu {
        display: none;
    }
    #header .header-menu-container {
        min-width: 700px;
        max-width: 700px;
        width: 700px;
        font-size: 14px;
    }
    #header .header-menu-container ul {
        min-width: 600px;
        max-width: 600px;
        width: 600px;
        font-size: 14px;
    }
    /* HEADER */
}

@media only screen and (min-width: 768px) and (max-width: 991px) /*M Ekran Boyutu*/ {
    #header .header-menu-container {
        min-width: 400px;
        max-width: 400px;
        width: 400px;
        font-size: 12px;
        justify-content: flex-end;
    }
    #header .header-menu-container ul,
    #header .header-menu-container .login {
        display: none;
    }
    /* HEADER */
}

@media only screen and (min-width: 576px) and (max-width: 767px) /*S Ekran Boyutu*/ {
    #header .header-menu-container ul,
    #header .header-menu-container .login {
        display: none;
    }
    #header .header-menu-container {
        min-width: 200px;
        max-width: 200px;
        width: 200px;
        font-size: 12px;
        justify-content: flex-end;
    }
    /* HEADER */
}
@media only screen and (max-width: 575px) /*XS Ekran Boyutu*/ {
    #header .header-menu-container ul,
    #header .header-menu-container .login {
        display: none;
    }
    #header {
        justify-content: last baseline;
    }
    #header .header-menu-container {
        min-width: 50px;
        max-width: 50px;
        width: 50px;
    }
    /* HEADER */
}

/* MAIN-PAGE*/

#main .main-page {
    display: flex;
    width: 1500px;
    align-items: center;
    margin: 200px auto;
}
#main .main-page .main-right-image {
    width: 800px;
}
#main .main-page .main-left-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 500px;
}
#main .main-page .main-left-page h1 {
    font-size: 50px;
    color: #17015d;
}
#main .main-page .main-left-page p {
    color: #504f4f;
    font-size: 30px;
}

#main .main-page .main-left-page a {
    background-color: #3bbe71;
    color: white;
    font-size: 30px;
    padding: 20px 50px;
    border-radius: 50px;
    display: inline-block;
}
/* RESPONSIVE */
@media only screen and (min-width: 1200px) and (max-width: 1650px) /*XL Ekran Boyutu*/ {
    #main .main-page {
        width: 1100px;
    }
    #main .main-page .main-right-image {
        width: 600px;
    }

    #main .main-page .main-left-page {
        height: 450px;
    }
    #main .main-page .main-left-page h1 {
        font-size: 40px;
    }
    #main .main-page .main-left-page p {
        font-size: 25px;
    }

    #main .main-page .main-left-page a {
        font-size: 25px;
        padding: 15px 40px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) /*L Ekran Boyutu*/ {
    #main .main-page {
        width: 900px;
    }
    #main .main-page .main-right-image {
        width: 400px;
    }

    #main .main-page .main-left-page {
        height: 300px;
    }
    #main .main-page .main-left-page h1 {
        font-size: 35px;
    }
    #main .main-page .main-left-page p {
        font-size: 20px;
    }

    #main .main-page .main-left-page a {
        font-size: 20px;
        padding: 15px 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) /*M Ekran Boyutu*/ {
    #main .main-page {
        width: 700px;
        margin: 40px auto;
    }
    #main .main-page .main-right-image {
        width: 300px;
    }

    #main .main-page .main-left-page {
        height: 360px;
    }
    #main .main-page .main-left-page h1 {
        font-size: 30px;
    }
    #main .main-page .main-left-page p {
        font-size: 20px;
    }

    #main .main-page .main-left-page a {
        font-size: 25px;
        padding: 15px 40px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) /*S Ekran Boyutu*/ {
    #main .main-page {
        flex-direction: column-reverse;
        width: 500px;
    }
    #main .main-page .main-right-image {
        width: 500px;
    }

    #main .main-page .main-left-page {
        height: 320px;
        align-items: center;
    }
    #main .main-page .main-left-page h1 {
        font-size: 35px;
        text-align: center;
    }
    #main .main-page .main-left-page p {
        font-size: 20px;
        text-align: center;
    }

    #main .main-page .main-left-page a {
        font-size: 25px;
        padding: 15px 40px;
    }
}
@media only screen and (max-width: 575px) /*XS Ekran Boyutu*/ {
    #main .main-page {
        flex-direction: column-reverse;
        width: 250px;
        margin: 30px auto;
    }
    #main .main-page .main-right-image {
        width: 250px;
    }

    #main .main-page .main-left-page {
        height: 300px;
        align-items: center;
    }
    #main .main-page .main-left-page h1 {
        font-size: 25px;
        text-align: center;
    }
    #main .main-page .main-left-page p {
        font-size: 15px;
        text-align: center;
    }

    #main .main-page .main-left-page a {
        font-size: 15px;
        padding: 10px 35px;
    }
}

/* MAİN SERVICES */
#main .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1800px;
    margin: 0 auto 100px;
    grid-gap: 100px;
}
#main .services .service-header {
    width: 1600px;
    grid-column-start: span 3;
    text-align: center;
    margin: 0 auto;
}
#main .services .service-header h2 {
    font-size: 50px;
    color: #17015d;
}
#main .services .service-header p {
    font-size: 30px;
}

#main .services .service-content p {
    font-size: 30px;
    color: #aaa;
    text-align: justify;
}

#main .services .service-content h2 {
    text-align: center;
    font-size: 30px;
    color: #17015d;
}

/* RESPONSIVE */
@media only screen and (min-width: 1300px) and (max-width: 1700px) /*XL Ekran Boyutu*/ {
    #main .services {
        width: 1200px;
    }
    #main .services .service-header {
        width: 1000px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
    #main .services {
        width: 1000px;
        grid-template-columns: 1fr 1fr;
    }
    #main .services .service-header {
        width: 800px;
        grid-column-start: span 2;
    }

    #main .services .service-header h2 {
        font-size: 40px;
        color: #17015d;
    }
    #main .services .service-header p {
        font-size: 25px;
    }

    #main .services .service-content p {
        font-size: 25px;
    }

    #main .services .service-content h2 {
        font-size: 25px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) /*L Ekran Boyutu*/ {
    #main .services {
        width: 900px;
        grid-template-columns: 1fr 1fr;
    }
    #main .services .service-header {
        width: 700px;
        grid-column-start: span 2;
    }
    #main .services .service-header h2 {
        font-size: 40px;
        color: #17015d;
    }
    #main .services .service-header p {
        font-size: 20px;
    }

    #main .services .service-content p {
        font-size: 20px;
    }

    #main .services .service-content h2 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) /*M Ekran Boyutu*/ {
    #main .services {
        width: 700px;
        grid-template-columns: 1fr 1fr;
    }
    #main .services .service-header {
        width: 600px;
        grid-column-start: span 2;
    }
    #main .services .service-header h2 {
        font-size: 40px;
        color: #17015d;
    }
    #main .services .service-header p {
        font-size: 20px;
    }

    #main .services .service-content p {
        font-size: 20px;
    }

    #main .services .service-content h2 {
        font-size: 25px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) /*S Ekran Boyutu*/ {
    #main .services {
        width: 80%;
        grid-template-columns: 1fr;
    }
    #main .services .service-header {
        width: 300px;
        grid-column-start: span 1;
    }
    #main .services .service-header h2 {
        font-size: 30px;
        color: #17015d;
    }
    #main .services .service-header p {
        font-size: 15px;
    }

    #main .services .service-content p {
        font-size: 15px;
    }

    #main .services .service-content h2 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 575px) /*XS Ekran Boyutu*/ {
    #main .services {
        width: 80%;
        grid-template-columns: 1fr;
    }
    #main .services .service-header {
        width: 100%;
        grid-column-start: span 1;
    }
    #main .services .service-header h2 {
        font-size: 30px;
        color: #17015d;
    }
    #main .services .service-header p {
        font-size: 15px;
    }

    #main .services .service-content p {
        font-size: 15px;
    }

    #main .services .service-content h2 {
        font-size: 20px;
    }
}
/* MAIN WORKFLOW */

#main .workflow {
    background-color: #e3fbeb;
    width: 100%;
    padding: 150px 0;
}
#main .workflow-header {
    padding: 0 0 50px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
#main .workflow-header h2 {
    font-size: 50px;
    color: #17015d;
}
#main .workflow-header p {
    color: #504f4f;
}
#main .workflow .workflow-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main .workflow .workflow-container .content h3 {
    color: #17015d;
    font-size: 30px;
    text-align: right;
    margin: 20px 0 20px;
}
#main .workflow .workflow-container .content p {
    color: #aaa;
    font-size: 20px;
}
#main .workflow .workflow-container .content {
    width: 700px;
    margin: 0 80px;
}
#main .workflow .workflow-container .content .circle {
    height: 150px;
    width: 150px;
    border: 4px solid tomato;
    flex-shrink: 0;
    border-radius: 50%;
    margin: 0 10px 20px;
    box-shadow: 3px 3px 3px #aaa;
    background-image: url(imgs/programming-1000.png);
    background-size: cover;
}
#main .workflow .workflow-container .content .content-div {
    display: flex;
}
#main .workflow .workflow-container .workflow-left p {
    text-align: right;
}
#main .workflow .workflow-container .workflow-right .content h3 {
    text-align: left;
}

#main .workflow .workflow-container .line {
    align-self: stretch;
    width: 4px;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#main .workflow .workflow-container .line div {
    width: 30px;
    height: 30px;
    border: 1px solid tomato;
    border-radius: 50%;
    background-color: tomato;
}
.col-content {
    display: none;
}

/* RESPONSIVE */
@media only screen and (min-width: 1200px) and (max-width: 1667px) /*XL Ekran Boyutu*/ {
    #main .workflow .workflow-container .content {
        width: 420px;
        margin: 0 80px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) /*L Ekran Boyutu*/ {
    #main .workflow .workflow-container .content {
        width: 325px;
        margin: 0 80px;
    }
    #main .workflow .workflow-container .content h3 {
        color: #17015d;
        font-size: 25px;
        text-align: right;
        margin: 20px 0 20px;
    }
    #main .workflow .workflow-container .content p {
        color: #aaa;
        font-size: 18px;
    }
    #main .workflow .workflow-container .content .circle {
        height: 120px;
        width: 120px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) /*M Ekran Boyutu*/ {
    #main .workflow .workflow-container .content {
        width: 325px;
        margin: 0 80px;
    }
    #main .workflow .workflow-container .content h3 {
        color: #17015d;
        font-size: 25px;
        text-align: right;
        margin: 20px 0 20px;
    }
    #main .workflow .workflow-container .content p {
        color: #aaa;
        font-size: 18px;
    }
    #main .workflow .workflow-container .content .circle {
        height: 120px;
        width: 120px;
    }
    .workflow-left {
        display: none;
    }
    .workflow-right {
        display: none;
    }

    .col-content {
        display: block;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) /*S Ekran Boyutu*/ {
    .workflow-left {
        display: none;
    }
    .workflow-right {
        display: none;
    }

    .col-content {
        display: block;
        width: 300px;
    }
}
@media only screen and (max-width: 575px) /*XS Ekran Boyutu*/ {
}
