@charset "utf-8";
/* EleAlınanTag:not() {}  ==> ele alınan tag hariç diğer tüm taglara stil tanımlar */
/*  HATALI - EKSİK KULLANIM ÖRNEĞİ
:not(li){
    color: red;
}  */

li{
    color: blue;
}
:not(li){
    color: coral;
}
