@charset "utf-8";
/*word-break : ele alınan tagın boyutlandırılmış alanının sonuna sığmayacak kadar büyük kelimelerin satır kırılma özelliklerini belirler.
    normal
    break-all : kelimeyi harflerden kırar
    keep-all : kelimeyi boşluklardan kırar*/

div{
    border: 2px solid red;
    width: 200px;
    word-break: break-all;
}