@charset "utf-8";
/* EleAlınanTag:optional{}  ==> ele alınan taga bilgi girişi opsiyonel yani isteğe bağlı olduğunda stil tanımlar (tag içine optional yazmaya gerek yok, default olarak optionaldir). */
#tc:required{
    background-color: aqua;
}
#cepNo:required{
    background-color: aqua;
}

#adres:optional{
    background-color: bisque;
}