@charset "utf-8";
/*object-fit : ele alınan tagın boyutlandırılmış alanına sığmayacak kadar büyük resim veya video içeriklerinini yeniden nasıl boyutlandırılacağını belirler.

    fill : doldurma = default

    cover : kapak 
    contain : içerme
    none 
    scale-down : azaltma
    

    */

    
    

    img{
        width: 1000px;
        height: 500px;
        border: 2px solid;
        object-fit: contain;
    }