@charset "utf-8";
/*grid-row-end :   Izgara düzeni içerisindeki elementin kaçıncı satırda bitmesi gerektiğini belirler.
    auto
    row-line: satır çizgisi
    */

.ana {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  border: 1px solid red;
  padding: 20px;
  width: 600px;
  
}
.ic {
  border: 2px solid blue;
  padding: 12px;
}
.Bir ,.iki{
    grid-row-end:span 3;


}

  .uc{
    grid-row-end: 4;
  }
  .dort{
      grid-row-end: span 2;
  }