/*align-items : ızgara düzeni içerisinde bulunan elementlerin, dikey hizalama özelliklerini belirler.

    stretch : uzat /esne1
    center : 
    start
    end
*/

@charset "utf-8";
.ana{
    display: grid;
    border: thin solid blue;
    padding: 20px;
    grid-gap: 2px;
  grid-template-columns: repeat(2, auto);

  height: 750px;
  /*prefixli*/
  align-items: center;
}
.ic{
    border: thin solid red;
    padding: 8px;  
}
